.modalOverlay {
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
  transition: all 0.5s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
}

.modalOverlay.active {
  z-index: 2002;
  opacity: 1;
  visibility: visible;
  will-change: opacity;
  transition: all 0.5s linear;
}

.fishingBg{
  background-image: url('/images/professions/openian/game-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 40px 50px 10px;
  position: relative;
  width: 500px;
  height: 700px !important;
  height: fit-content;
  background-image: url('/images/professions/openian/frame-fishing.png');
  /* background-image: url('/images/professions/borders/sellBorder-left.png'),
    url('/images/professions/borders/sellBorder-right.png'); */
  background-position: 0, 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-color: #3d2316; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
}

.closeBtn {
  position: absolute !important;
  z-index: 1;
  top: 20px;
  right: 30px;
  text-align: center;
  border: none;
  outline: none !important;
  background-color: transparent !important;
  color: #f6e691;
  font-size: 35px !important;
  box-shadow: none !important;
}

.btnFishing{
  top: 30px !important;
}

/* .modalFinish {
  padding: 40px 50px 10px;
  position: relative;
  height: 500px;
  width: 600px;
  background-image: url('/images/professions/openian/claimFish.png');
  background-position: center left, center right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
} */

.modalFinish {
  padding: 40px 50px 10px;
  position: relative;
  width: 500px;
  height: fit-content;
  background-image: url('/images/professions/borders/sellBorder-left.png'),
    url('/images/professions/borders/sellBorder-right.png');
  background-position: 0, 100%;
  background-repeat: no-repeat;
  background-size: 18px 100%;
  background-color: #3d2316;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  height: 415px;
}


.modalFinish::before,
.modalFinish::after {
  position: absolute;
  content: '';
}

.modalFinish::before {
  top: 0;
  left: 12px;
  right: 12px;
  height: calc(100% + 12px);
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: calc(100% - 111px) 19px;
  background-image: url('/images/professions/borders/sellBorder-top.png'),
    url('/images/professions/borders/sellBorder-bottom.png');
}

.modalFinish::after {
  top: 0;
  left: 0px;
  width: 100%;
  height: calc(100% + 12px);
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 68px;
  background-image: url('/images/professions/borders/sellBorder-top-left.png'),
    url('/images/professions/borders/sellBorder-top-right.png'),
    url('/images/professions/borders/sellBorder-bottom-left.png'),
    url('/images/professions/borders/sellBorder-bottom-right.png');
}

.modal img {
  width: 100%;
}

.boardContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -40px;
  /* margin-top: 24px; */
}

.imgFishing{
  position: absolute;
  width: 445px !important;
  height: 200px;
  top: -110px;
}

.sellBoard {
  width: 250px;
  height: 50px;
  position: absolute;
  top: -60px;
}

.boardContent h4,
.setPrice {
  font-size: 30px;
}

.sellingAmount,
.totalAmount {
  font-size: 20px;
}

.selectedItemBtn {
  width: 140px !important;
  height: fit-content !important;
  padding: 0 !important;
  margin: 20px 0;
}

.setPrice {
  margin: 20px 0;
}

.sellingAmount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sellInput {
  padding: 0 10px;
  font-size: 24px;
  background-color: transparent;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-image: url('/images/professions/openian/sellboard-input.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left center;
}

.setPrice .sellInput {
  margin-right: 20px;
  width: 140px;
}

.sellingAmount .sellInput {
  width: 230px;
}

.confirmBtn {
  width: 200px !important;
  height: fit-content !important;
  margin-top: 20px;
}

.description {
  width: 430px;
  height: 300px;
  border-radius: 24px;
  /* background-color: #30311b; */
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.descriptionFinish {
  width: 500px;
  height: 300px;
  border-radius: 24px;

  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.content{
  margin-top: 70px;
  width: 100%;
}

.titleText {
  font-weight: 400;
  color: '#fff';
  font-size: 20px;
  line-height: 24px;
}
.valueText {
  font-weight: 400;
  color: '#fff';
  font-size: 16px;
  line-height: 24px;
}

.titleTextFinish {
  font-weight: 400;
  color: '#fff';
  font-size: 40px;
  line-height: 49px;
}
.valueTextFinish {
  font-weight: 400;
  color: '#fff';
  font-size: 36px;
  line-height: 44px;
}
.rowView {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.fishNFT {
  width: 36px;
  height: 63px;
  margin-left: 23px;
}
.noteText {
  font-weight: 400;
  color: '#fff';
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 60px;
}

.iconStamina{
  background-image: url('/images/professions/openian/stamina.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 15px;
  display: inline-block;
  margin-top: 2px;
}

.confirmFinishBtn{
  margin-top: 20px;
}


@media (max-width: 767px) {
  .modal {
    /* width: 95vw; */
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    height: 600px !important;
  }
  .boardContent h4,
  .setPrice {
    font-size: 20px;
  }

  .sellingAmount,
  .totalAmount {
    font-size: 16px;
  }

  .selectedItemBtn,
  .setPrice .sellInput {
    width: 100px !important;
  }

  .sellingAmount .sellInput {
    width: 130px;
  }

  .description{
    width: 350px;
  }

  .imgFishing{
    width: 300px !important;
    height: 170px;
    top: -62px;
  }

  .confirmBtn{
    width: 150px !important;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .content{
    padding: 0 20px;
  }

  .modalFinish{
    width: 100%;
  }

  .descriptionFinish{
    width: 350px !important;
  }

  .titleTextFinish{
    font-size: 26px;
  }

  .valueTextFinish{
    font-size: 22px;
  }
  
  .fishNFT{
    width: 40px;
  }

  .noteText{
    padding: 0 30px;
    font-size: 18px;
    width: 100%;
  }

}
