.foodCourtContainer {
  height: 100%;
  z-index: 999999;
  background-color: #131313;
  position: relative;
}

.foodCourtBg {
  background-image: url('/images/foodcourt/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 999990;
  padding: 60px 30px;
  overflow: hidden;
}

.foodCourtTitleContainer {
  /* margin-top: 80px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodCourtTitle {
  position: relative;
  background-image: url('/images/foodcourt/name.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 300px;
  height: 70px;
  margin: 0 auto;
}

.navFoodCourt {
  background-image: url('/images/foodcourt/decorate.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 400px;
  height: 15px;
}

.buyBtn,
.sushiBtn,
.fishBtn,
.foodBtn {
  background-color: transparent !important;
  padding: 0 !important;
}

.buyBtn {
  background-image: url('/images/foodcourt/buy-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 105px !important;
  height: 62px !important;
}

.foodBtn {
  background-image: url('/images/foodcourt/none-select.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 60px !important;
  height: 65px !important;
  position: relative;
  margin-left: 20px;
}

.sushiBtn {
  background-image: url('/images/foodcourt/sushi.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 35px !important;
  height: 35px !important;
  position: absolute;
  border-radius: 0 !important;
}

.itemBoardSelected {
  width: 95%;
  height: 95%;
  border: 2px solid #E8D179;
}

.fishBtn {
  background-image: url('/images/foodcourt/fish.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 35px !important;
  height: 35px !important;
  position: absolute;
}

.foodCourtBoard {
  margin: 0 auto;
  margin-top: 20px;
  background-image: url('/images/foodcourt/frame-food-court.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  text-align: center;
  position: relative;
  color: #fff;
  padding: 30px;
  min-height: 480px;
  width: 100%;
}

.paginationContainer {
  position: absolute;
  left: 43%;
  bottom: 40px;
  /* margin-bottom: 20px; */
}

.columnTitle {
  font-family: NewYork;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  border-bottom: 2px solid #E8D179;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
}

.refreshBtn {
  background-image: url('/images/foodcourt/refresh-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 100px !important;
  height: 40px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buyBtnItem {
  background-image: url('/images/foodcourt/buy-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 65px !important;
  height: 40px !important;
}

.columnItem {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
}

.pagination {
  width: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.previous,
.increase {
  background-image: url('/images/foodcourt/triangle2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 25px;
  background-color: transparent;
}

.increase {
  background-image: url('/images/foodcourt/triangle1.png') !important;
}

.numberPage {
  width: fit-content;
  background-color: #200E03;
  padding: 5px 10px;
  font-size: 18px;
}

/* .foodCourtBg::-webkit-scrollbar {
  width: 20px;
}

.foodCourtBg::-webkit-scrollbar-track {
  background-color: transparent;
}

.foodCourtBg::-webkit-scrollbar-thumb {
  background-color: #282738;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
} */

.backBtn {
  display: block;
  position: fixed;
  top: 30px;
  left: 35px;
  width: 160px;
  height: 50px;
  background-image: url('/images/professions/back-btn.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* z-index: 999998; */
}


@media only screen and (max-width: 675px) {
  .foodCourtContainer{
    overflow-y: scroll;
  }
  .foodCourtBg{
    width: 1500px;
  }
}