.craftPotionsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headCraftPosition {
  width: 278px;
  margin-left: 76px;
  position: relative;
}

.headCraftPosition h3 {
  position: absolute;
  top: 8px;
  left: 42px;
  font-size: 1.1rem;
}

.bgItem {
  position: relative;
  display: inline-grid;
  width: 120px;
  min-height: 60px;
  background-color: #efcba2;
  border-radius: 8px 2px 8px 2px;
  background-image: url(/images/alchemist/inventory-itemFrameLeft.png),
    url(/images/alchemist/inventory-itemFrameRight.png);
  background-position: 0 0, 100% 0;
  background-repeat: repeat-y, repeat-y;
  border: 0;
  color: #fff;
  outline: none;
  margin: 0 auto;
  overflow: hidden;
}

.bgItem::before {
  content: '';
  width: 100%;
  border-radius: 8px 2px 8px 2px;
  background-image: url(/images/alchemist/inventory-itemFrameTop.png),
    url(/images/alchemist/inventory-itemFrameBtm.png);
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  height: 60px;
  z-index: 1;
}

.bgItem::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-image: url(/images/alchemist/inventory-itemFrameTopLeft.png),
    url(/images/alchemist/inventory-itemFrameTopRight.png),
    url(/images/alchemist/inventory-itemFrameBtmLeft.png),
    url(/images/alchemist/inventory-itemFrameBtmRight.png);
  background-position: 0 0, 100% 0, 0 100%, 100% 100%;
  background-repeat: no-repeat;
}

.sizeBackgroundItem {
  width: 60px;
  height: 65px;
  background-repeat: repeat-y, repeat-y;
  /* margin: 0 auto; */
}

.sizeBackgroundItem::before,
.sizeBackgroundItem::after {
  height: 65px;
}

.craftItemContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.craftItem {
  margin: 10px;
  position: relative;
  opacity: 0.6;
  display: flex;
  justify-content: center;
}

.craftItemBgOpacity {
  width: 54px;
  height: 100%;
  position: absolute;
}

.craftItem:hover .craftItemBgOpacity {
  background-color: #daad82;
}
