.landAuction {
  z-index: -1;
  opacity: 0;
  will-change: opacity;
  transition: all 0.5s linear;
  margin: 0;
  padding: 60px 3% 30px;
  box-sizing: border-box;
}

.landAuction.active {
  z-index: 3000;
  opacity: 1;
  will-change: opacity;
  transition: all 0.5s linear;
}

@media (max-width: 1024px) {
  .landAuction {
    margin-bottom: 0;
    align-items: unset;
    margin-top: 0;
    padding-top: 30px;
    overflow-x: hidden;
  }
}
