.blackSmithContainer{
  height: 100%;
  z-index: 999999;
  background-color: #131313;
  position: relative;
}

.blackSmithBg {
  background-image: url('/images/professions/blacksmith/blacksmith-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;
  z-index: 999999;
  position: relative;
  width: 100vw;
}

.backBtn {
  display: block;
  position: absolute;
  top: 30px;
  left: 35px;
  width: 160px;
  height: 50px;
  background-image: url('/images/professions/back-btn.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sellHammer{
  background-image: url('/images/professions/blacksmith/sell-hammer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: center center; */
  height: 45px;
  width: 200px;
  /* left: 330px; */
  left: 30%;
  bottom: 23%;
  /* bottom: 160px; */
  position: absolute;
}

.sellHammer::before{
  content: '';
  position: absolute;
  bottom: -150px;
  width: 200px;
  height: 200px;
}

.forgeHammer{
  background-image: url('/images/professions/blacksmith/forge-hammer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: center center; */
  height: 45px;
  width: 200px;
  left: 69%;
  /* left: 780px; */
  /* bottom: 240px; */
  bottom: 36%;
  position: absolute;
}

.forgeHammer::before{
  content: '';
  position: absolute;
  bottom: -200px;
  left: -50px;
  width: 250px;
  height: 250px;
}

.preLoaderBlackSmith {
  background-color: #130e0c;
  z-index: 999999;
  display: flex;
  opacity: 1;
  visibility: visible;
}

.loadedBlackSmith .preLoaderBlackSmith {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.5s;
}


.preloaderFoldingCube {
  margin: auto;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

.preloaderFoldingCube .preloaderCube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.preloaderFoldingCube .preloaderCube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-315deg, #716efc 0%, #f8585d 100%);
  animation: preloader-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.preloaderFoldingCube .preloaderCube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.preloaderFoldingCube .preloaderCube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.preloaderFoldingCube .preloaderCube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.preloaderFoldingCube .preloaderCube2:before {
  animation-delay: 0.3s;
}

.preloaderFoldingCube .preloaderCube3:before {
  animation-delay: 0.6s;
}

.preloaderFoldingCube .preloaderCube4:before {
  animation-delay: 0.9s;
}


@keyframes preloader-foldCubeAngle {

  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@media only screen and (max-width: 975px) {
  .blackSmithBg{
    max-width: 1500px;
    width: 1000px;
  }
  .sellHammer{
    left: 270px;
    /* bottom: 170px; */
    bottom: 25%;
    height: 40px;
    width: 150px;
  }
  .forgeHammer{
    left: 640px;
    bottom: 36%;
    height: 40px;
    width: 150px;
  }
  .sellHammer::before{
    width: 150px;
  }
  .forgeHammer::before{
    bottom: -150px;
    left: 5px;
    width: 180px;
    height: 200px;
  }
}