.resultContainer {
  padding: 40px 50px 10px;
  position: relative;
  width: 500px;
  height: fit-content;
  background-image: url('/images/professions/borders/sellBorder-left.png'),
    url('/images/professions/borders/sellBorder-right.png');
  background-position: 0, 100%;
  background-repeat: no-repeat;
  background-size: 18px 100%;
  background-color: #3d2316;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  margin: auto 10px;
}


.resultContainer::before,
.resultContainer::after {
  position: absolute;
  content: '';
}

.resultContainer::before {
  top: 0;
  left: 12px;
  right: 12px;
  height: calc(100% + 12px);
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: calc(100% - 111px) 19px;
  background-image: url('/images/professions/borders/sellBorder-top.png'),
    url('/images/professions/borders/sellBorder-bottom.png');
}

.resultContainer::after {
  top: 0;
  left: 0px;
  width: 100%;
  height: calc(100% + 12px);
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 68px;
  background-image: url('/images/professions/borders/sellBorder-top-left.png'),
    url('/images/professions/borders/sellBorder-top-right.png'),
    url('/images/professions/borders/sellBorder-bottom-left.png'),
    url('/images/professions/borders/sellBorder-bottom-right.png');
}

.finished {
  position: absolute;
  z-index: 3;
  width: 200px;
  top: -46px;
}

.frameHead {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 20px;
  z-index: 5;
}

.exitBtn {
  background-image: url('/images/professions/blacksmith/exit-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  width: 25px !important;
  height: 25px !important;
  background-color: transparent !important;
  padding: 0 23px;
}

.title,
.helpText {
  text-align: center;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 89px;
}

.received {
  display: flex;
  justify-content: center;
}

.hammer {
  background-image: url('/images/professions/blacksmith/hammer.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

.helpText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}

.btnConfirm {
  background-image: url('/images/professions/npc/openian/mining/confirm.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-position: center center !important;
  width: 140px !important;
  height: 40px !important;
  background-color: transparent !important;
  margin: 0 auto;
  margin-top: 20px;
  display: block !important;
  z-index: 4;
}


.preLoaderResultForgeHammer {
  background-color: #130e0c;
  z-index: 999999;
  display: flex;
  opacity: 1;
  visibility: visible;
}

.loadedResultForgeHammer .preLoaderResultForgeHammer {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.5s;
}


.preloaderFoldingCube {
  margin: auto;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

.preloaderFoldingCube .preloaderCube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.preloaderFoldingCube .preloaderCube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-315deg, #716efc 0%, #f8585d 100%);
  animation: preloader-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.preloaderFoldingCube .preloaderCube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.preloaderFoldingCube .preloaderCube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.preloaderFoldingCube .preloaderCube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.preloaderFoldingCube .preloaderCube2:before {
  animation-delay: 0.3s;
}

.preloaderFoldingCube .preloaderCube3:before {
  animation-delay: 0.6s;
}

.preloaderFoldingCube .preloaderCube4:before {
  animation-delay: 0.9s;
}


@keyframes preloader-foldCubeAngle {

  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .finished {
    width: 250px;
    top: -58px;
  }
}