.miningOverlay {
  background-image: url('/images/professions/npc/openian/mining/background-mining-quest.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;
  z-index: 999999;
  position: relative;
  display: flex;
  justify-content: center;
}

.frameMining {
  background-image: url('/images/professions/npc/openian/mining/frame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 498px;
  max-height: 698px;
  width: 350px;
  height: 570px;
  position: relative;
  margin: auto;
}

.frameHead {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.infoBtn {
  background-image: url('/images/professions/npc/openian/mining/question-mark-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  width: 25px !important;
  height: 25px !important;
  background-color: transparent !important;
}

.exitBtn {
  background-image: url('/images/professions/npc/openian/mining/exit-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  width: 25px !important;
  height: 25px !important;
  background-color: transparent !important;
  padding: 0 23px;
}

.miningBody {
  position: absolute;
  top: 75px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.artItem {
  background-image: url('/images/professions/npc/openian/mining/art-item.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 285px;
  height: 150px;
}

.miningQuestDetail{
  position: absolute;
  bottom: 65px;
  left: 50px;
  width: 75%;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.detail {
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
}

.harmer{
  background-image: url('/images/professions/npc/openian/mining/harmer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  left: 60px;
  bottom: -6px;
  position: absolute;
}

.startQuestBtn{
  background-image: url('/images/professions/npc/openian/mining/start-quest-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-position: center center !important;
  width: 120px !important;
  height: 35px !important;
  background-color: transparent !important;
  position: absolute !important;
  bottom: -40px;
  left: 70px;
  margin: 0 auto;
  display: block !important;
}

.miningWaitDetail{
  position: absolute;
  bottom: 200px;
  left: 50px;
  width: 75%;
}

.finishBtn{
  background-image: url('/images/professions/npc/openian/mining/finish-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 120px !important;
  height: 35px !important;
  background-color: transparent !important;
  position: absolute !important;
  bottom: -170px;
  left: 70px;
  margin: 0 auto;
  display: block !important;
}

.finishBtnDisable{
  background-image: url('/images/professions/npc/openian/mining/finish-disable-btn.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 120px !important;
  height: 35px !important;
  background-color: transparent !important;
  position: absolute !important;
  bottom: -170px;
  left: 70px;
  margin: 0 auto;
  display: block !important;
}