.main {
    background: url('../../public/images/marketplace/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    height: 100vh;
    padding-top: 20px;
}

@media (max-width: 1700px) {
    .main {
        padding-top: 0;
    }
}

.nav{
    padding-bottom: 10px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
}

@media (max-width: 650px) {
    .nav1 {
        margin: 0 50px;
    }
}

.nav1 > div:first-child {
    color: '#FFB966',
}


.nav1 > input:last-child {
    width: 250px;
    height: 50px;
    background: url('../../public/images/marketplace/nft-id.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    text-align: center;
    color: white;
}

@media (max-width: 650px) {
    .nav1 > input:last-child {
        width: 200px;
        font-size: 16px;
    }
}

.nav2 {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}

@media (max-width: 810px) {
    .nav2 {
        margin: 0;
        justify-content: center;
    }
}

.nav2 > div {
    padding: 20px 50px;
}

@media (max-width: 810px) {
    .nav2 > div {
        padding: 15px;
    }
}

.sortPriceBoard{
    position: absolute;
    bottom: -85px;
    left: 0;
    right: 0;
    margin: auto;
    background: url('../../public/images/marketplace/frame-sort-price.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    width: 98%;
    text-align: center;
}

.sortPriceBoard > div{
    padding: 10px 0;
    font-size: 16px;
}

.body{
    display: flex;
    height: 100%;
    overflow: auto;
}

@media (max-width: 1040px) {
    .body{
        flex-wrap: wrap;
    }
}

.body1{
    padding: 20px 0px;
    height: calc(100% - 300px);
    flex: 1.5;
}

.body1 > div{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.body1 > div::-webkit-scrollbar {
    display: none;
}

.loading {
    font-size: 30px;
}

.item{
    padding: 0 20px;
    width: 220px;
    margin-bottom: 30px;
}

.itemInfo {
    background: url('../../public/images/marketplace/frame-item.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.itemInfo > div:first-child {
    font-size: 12px;
    width: 65%;
    margin: auto;
}

.itemInfo > div:first-child > div {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}


.itemInfo > div:first-child > img {
    width: 100%;
}

.itemInfo > div:last-child {
    text-align: center;
    font-size: 16px;
    padding: 1px 0;
}

.btnBuy{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.body2 {
    flex: 1;
    padding: 0 50px;
    height: 100%;
}

@media (max-width: 800px) {
    .body2{
        padding: 0 10px;
    }
}

.sellerBoard{
    background: url('../../public/images/marketplace/seller-board.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    max-width: 650px;
    min-width: 500px;
    margin: auto;
    padding: 50px 0;
}

@media (max-width: 550px) {
    .sellerBoard{
        min-width: 300px;
    }
}


.header{
    margin-top: 30px;
}

.selectedImage{
    margin: 20px 0;
}

.selectedImageFrame{
    width: 120px;
    height: 120px;
    background: url('../../public/images/marketplace/selected-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 20px 0;
    margin-bottom: 50px;
}

.priceInput{
    display: flex;
}

.priceInput > div:first-child{
    margin-right: 20px;
}

.priceInput > input{
    border-radius: 15px;
    background-color: #261106;
    border: 1px solid #DFD99A;
    width: 120px;
    text-align: center;
    outline: none;
}

.btnSell{
    margin-top: 30px;
}

.priceInput > div:last-child{
    margin-left: 20px;
}

.footer {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    .footer{
        bottom: 20px;
        right: 10px;
        left: unset;
        margin: unset;
    }
}

.pagination{
    display: flex;
    align-items: center;
}

.pagination img{
    padding: 0 20px;
}

@media (max-width: 650px) {
    .pagination img{
        padding: 0 10px;
    }
}

.pagination > div{
    background-color: #8C481D;
    height: 120%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: normal;
}

@media (max-width: 650px) {
    .pagination div{
        height: 100%;
        width: 40px;
        font-size: 18px;
    }
}

.back {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

@media (max-width: 650px) {
    .back{
        bottom: 20px;
        left: 10px;
        width: 100px;
    }
}

.select {
    border-bottom: 2px solid #FFB966;
}

.containerNotify {
    flex: 1;
    height: 100%;
    margin: auto;
    max-width: 750px;
    max-height: 500px;
    background-image: url(/images/marketplace/notify.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.notifyHeader {
    margin-top: 80px;
    font-size: 40px;
}

.notifyConfirm {
    margin-top: 80px;
}

.notifyBody {
    margin-top: 50px;
    font-size: 25px;
}

.containerTotal{
    margin-top: 20px;
    font-size: 20px;
}

.containerTotal span{
    font-size: 30px;
    color: #F1E994;
}