.backBtn {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 35px;
  width: 180px;
  height: 60px;
  background-image: url('/images/professions/back-btn.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}
