.backBtn {
  display: block;
  position: fixed;
  bottom: 30px;
  left: 35px;
  width: 180px;
  height: 60px;
  background-image: url('/images/professions/back-btn.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 1024px) {
  .backBtn {
    width: 110px !important;
    height: 40px !important;
    bottom: 120px;
    left: 15px;
  }
}
