.main {
  background-image: url('/images/background/background.png');
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.contentWrapper {
}

.bottomContainer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.iconStyle {
  width: 20px;
  height: 20px;
}
.rowView {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textStyleBottom {
  font-size: 14px;
  color: '#019C44';
}
