.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  position: relative;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

}
.entryLogo {
  z-index: 9999;
}
.entryBackground {
   /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/images/background/background.webp');
  background-image:  -moz-linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/images/background/background.webp');
  background-image:  -o-linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/images/background/background.webp');
  background-image:  -ms-linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/images/background/background.webp');
  background-image:  linear-gradient(rgba(0,0,0, 0.6) 0%,rgba(0,0,0, 0.6) 100%), url('/images/background/background.webp');
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.contentWrapper {
}

.bottomContainer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.iconStyle {
  width: 20px;
  height: 20px;
}
.rowView {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textStyleBottom {
  font-size: 14px;
  color: '#019C44';
}
