.gameButton {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  position: absolute;
  background-image: url('/images/borders/text-bubble-left.png'),
    url('/images/borders/text-bubble-right.png');
  background-position: left top, right top;
  background-repeat: repeat-y;
  background-color: rgb(255, 224, 183);
  background-size: 4.7398px 3.55485px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  z-index: 2000;
  height: 22px;
  min-width: 66px;
  animation: buttonAnimation 2s infinite;
  cursor: url('/images/castle/click-cursor.png'), auto !important;
}

.gameButton::before,
.gameButton::after {
  content: '';
  display: block;
  position: absolute;
}

.gameButton::before {
  top: -4.7398px;
  left: 6.7398px;
  width: calc(100% - 20.6645px);
  height: calc(100% + 20.6645px);
  background-position: center top, center bottom;
  background-repeat: repeat-x;
  background-size: 18.9592px 9.7398px;
  background-image: url('/images/borders/text-bubble-top.png'),
    url('/images/borders/text-bubble-btm.png');
}

.gameButton::after {
  top: -4.7398px;
  left: 0px;
  width: 100%;
  height: calc(100% + 20.6645px);
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 20.6645px 20.6645px;
  background-image: url('/images/borders/text-bubble-topLeft.png'),
    url('/images/borders/text-bubble-topRight.png'),
    url('/images/borders/text-bubble-btmLeft.png'),
    url('/images/borders/text-bubble-btmRight.png');
}

.bubbleArrow {
  position: absolute;
  width: 10.6645px;
  height: 10.6645px;
  image-rendering: pixelated;
  left: 50%;
  bottom: -20.47959px;
  transform: translateX(-50%);
  z-index: 1200;
}

.title {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ffe0b7;
  padding: 0px 28.0344px;
  font-family: Lora, serif;
  font-weight: bold;
  z-index: 2003;
  font-size: 21px;
  word-wrap: normal;
  text-align: center;
  width: fit-content;
  height: calc(100% + 10.6645px);
  z-index: -1;
  border-radius: 16px;
}

@keyframes buttonAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
