.professionsOverlay {
  background-image: url('/images/background/game-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ccc;
  z-index: 2001;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.professionsOverlay::-webkit-scrollbar-thumb {
  background-color: rgb(123, 123, 123);
  border-color: rgba(0, 0, 0, 0.5);
}

.professionsOverlay::-webkit-scrollbar-track {
  background-color: transparent;
}

.professionsContainer {
  max-width: 1200px;
  height: fit-content;
  padding: 120px 15px 0;
}


@media (max-width: 1500px) {
  .professionsContainer {
    padding-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .professionsContainer {
    padding-top: 100px;
  }
}
