.modalOverlay {
  position: absolute;
  z-index: 1;
  opacity: 0;
  overflow-x: hidden;
  will-change: opacity;
  transition: all 0.5s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #f9f3ea;
  letter-spacing: 1.1666666667px;
  text-shadow: 3.5px 0 0 #321208, 3.23365px 1.33945px 0 #321208,
    2.47485px 2.47485px 0 #321208, 1.33945px 3.23365px 0 #321208,
    0 3.5px 0 #321208, -1.33945px 3.23365px 0 #321208,
    -2.47485px 2.47485px 0 #321208, -3.23365px 1.33945px 0 #321208,
    -3.5px 0 0 #321208, -3.23365px -1.33945px 0 #321208,
    -2.47485px -2.47485px 0 #321208, -1.33945px -3.23365px 0 #321208,
    0 -3.5px 0 #321208, 1.33945px -3.23365px 0 #321208,
    2.47485px -2.47485px 0 #321208, 3.23365px -1.33945px 0 #321208;
}

.modalOverlay.active {
  z-index: 2000;
  opacity: 1;
  will-change: opacity;
  transition: all 0.5s linear;
}

.modal {
  position: relative;
  padding: 50px 50px 70px;
}

.modalTitle {
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  padding: 0 20px;
  font-size: 24px;
}

.modalTitle.fancy {
  position: relative;
  top: -42px;
  margin-top: 30px;
  background-image: url('/images/borders/modal-title-middle.png');
  background-repeat: repeat-x;
  margin: 0 auto;
  height: 70px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle.fancy::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + 60px);
  top: 0;
  left: -30px;
  height: 100%;
  background-image: url('/images/borders/modal-title-left.png'),
    url('/images/borders/modal-title-right.png');
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
}

.modalBody {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comingSoonWrap,
.startQuestWrap {
  width: 100%;
  max-width: 565px;
  margin: 0 auto;
}

.comingSoonWrap {
  pointer-events: none;
}

.comingSoon,
.startQuest {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin: 6px auto;
  height: 68px;
  max-height: 68px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  background-image: url('/images/borders/btn-middle-inactive.png');
  background-repeat: repeat-x;
  background-position: 0 0;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lora', sans-serif;
}

.comingSoon::before,
.startQuest::before {
  content: '';
  display: block;
  width: calc(100% + 80px);
  height: 100%;
  position: absolute;
  top: 0;
  left: -40px;
  background-image: url('/images/borders/btn-left-inactive.png'),
    url('/images/borders/btn-right-inactive.png');
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
}

.startQuest {
  background-image: url('/images/modal/modal-btn-middle.png');
}

.startQuest::before {
  background-image: url('/images/modal/modal-btn-left.png'),
    url('/images/modal/modal-btn-right.png');
}

.startQuest:hover {
  background-position: 0 100%;
}

.startQuest:hover:before {
  background-position: 0 100%, 100% 100%;
}

.npcAvaWrap {
  width: 965px;
}

.npcAvaWrap img {
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 289px;
  height: auto;
  image-rendering: pixelated;
  z-index: 2;
}

.npcDialogue {
  position: relative;
  image-rendering: pixelated;
  background-color: #ffe3bd;
  background-image: url('/images/borders/npcDialogue-left.png'),
    url('/images/borders/npcDialogue-right.png'),
    url('/images/borders/npcDialogue-top.png'),
    url('/images/borders/npcDialogue-bottom.png');
  background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
  background-position: 0 0, 100% 0, 0 0, 0 100%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.npcDialogue::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/borders/npcDialogue-top-left.png'),
    url('/images/borders/npcDialogue-top-right.png'),
    url('/images/borders/npcDialogue-bottom-left.png'),
    url('/images/borders/npcDialogue-bottom-right.png');
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 0 100%, 100% 100%;
}

.npcDialogue p {
  margin: 0;
  font-size: 16px;
  padding: 50px 24px 24px 16px;
  color: #744e45;
  text-shadow: none;
}

.npcName {
  position: absolute;
  top: -18px;
  margin: 0;
  background-image: url('/images/borders/npcName-middle.png');
  background-repeat: repeat-x;
  height: 58px;
  line-height: 58px;
  padding: 0 20px;
  white-space: nowrap;
}

.npcName span {
  position: relative;
  font-family: 'Lora', Georgia, serif;

  font-size: 26px;
}

.npcName::before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 60px);
  top: 0;
  left: -30px;
  height: 100%;
  background-image: url('/images/borders/npcName-left.png'),
    url('/images/borders/npcName-right.png');
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
}

.modalBody button {
  min-width: 200px;
  margin: 5px 0;
}

@media (max-width: 590px) {
  .modalOverlay {
    overflow-y: scroll;
    bottom: unset;
  }

  .modal,
  .npcDialogue {
    width: 100vw !important;
  }

  .modalTitle.fancy {
    top: 17px;
    font-size: 16px;
  }

  .startQuest {
    transform: scale(0.8);
    margin-top: 20px;
  }

  .comingSoon {
    transform: scale(0.8);
  }

  .npcAvaWrap {
    height: 300px;
  }

  .npcDialogue {
    flex-direction: column-reverse;
  }

  .npcDialogue p {
    padding: 24px 24px 24px 16px;
    text-align: center;
  }

  .npcName {
    left: 50%;
    transform: translateX(-50%);
  }

  .closeBtn {
    top: 35px;
    right: 28px;
    width: 48px;
    height: 48px;
  }

  .modalBtn {
    border-radius: 9px;
    width: 200px;
    height: 41px;
    font-size: 14px;
  }

  .comingSoon {
    width: 200px;
    top: 14px;
  }
}

.closeBtn {
  background-image: url('/images/modal/close-modal-btn.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 26px;
  right: 29px;
  width: 40px;
  height: 40px;
}

.closeBtn:hover {
  opacity: 0.9;
}
