.openianOverlay {
  background-color: #131313;
  height: 100vh;
  z-index: 2001;
}

.openianContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 1568px;
  background-color: #131313;
}

.openianBg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/professions/openian/openian-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-size: 100% 100%;
  image-rendering: pixelated;
}

.backBtn {
  display: block;
  position: absolute;
  top: 30px;
  left: 35px;
  width: 235px;
  height: 75px;
  background-image: url('/images/professions/back-btn.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}

.openianMiningBtn {
  position: absolute;
  top: 48%;
  right: 52px;
  width: 332px;
  height: 29vh;
  cursor: pointer;
}

.openianFishBtn {
  position: absolute;
  top: 60%;
  left: 300px;
  width: 235px;
  height: 24vh;
  cursor: pointer;
}

.openianSellBtn {
  position: absolute;
  top: 20%;
  left: 670px;
  width: 585px;
  cursor: url(/images/worldmap/SelectCursor.webp), auto !important;
  height: 47vh;
}

@media (max-width: 1857px) {
  .openianContainer {
    width: 1858px;
  }
}

@media (max-width: 767px) {
  .backBtn {
    width: 140px;
    height: 75px;
  }
}
