.linkWrap {
  position: absolute;
}

.castleWrap {
  top: 35%;
  left: 48%;
  width: 375px;
  height: 260px;
}

.marketWrap {
  top: 48%;
  left: 45%;
  width: 240px;
  height: 190px;
}

.workshopWrap {
  top: 55%;
  left: 51.5%;
  width: 115px;
  height: 150px;
}

.foodcourtWrap {
  top: 63%;
  left: 50%;
  width: 150px;
  height: 150px;
}

.battleArenaWrap {
  top: 63%;
  left: 41%;
  width: 96px;
  height: 140px;
}

.professionsWrap {
  top: 55%;
  left: 35%;
  width: 150px;
  height: 130px;
}

.showLinkBtn {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 2;
  background-color: transparent !important;
}

.navigateLink {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: fit-content;
  display: flex;
  justify-content: center;
  z-index: -1;
  top: -20px;
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
  will-change: opacity, top, z-index;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.navigateLink:hover {
  text-decoration: none;
}

.mapBtn {
  width: fit-content;
  height: 45px;
  background-image: url('/images/worldmap/mapBtn.png');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  color: #571010;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapBtn span {
  padding: 0 40px;
  white-space: nowrap;
}

.castleLink {
  width: 100%;
}

@media (min-width: 1025px) {
  .showLinkBtn:hover .navigateLink {
    top: -40px;
    opacity: 1;
    will-change: opacity, top;
    transition: all 0.5s;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .navigateLink{
    opacity: 1;
  }
  .mapBtn {
    font-size: 10px;
    height: 35px;
  }
  .mapBtn span {
    padding: 0 25px;
    white-space: nowrap;
  }

  .showLinkBtn:hover~.navigateLink {
    top: -40px;
    opacity: 1;
    will-change: opacity, top;
    transition: all 0.5s;
    z-index: 1;
  }

  .linkOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.1s;
  }

  .navigateLink.active {
    top: -40px;
    opacity: 1;
    z-index: 1;
    will-change: opacity, top, z-index;
    transition: all 0.5s;
  }

  .linkOverlay.active {
    z-index: -1;
    transition: all 0.7s;
  }

  .linkOverlay {
    width: 100%;
    height: 100%;
  }

  .professionsWrap {
    top: 55%;
    left: 36%;
    width: 100px;
    height: 100px;
  }

  .battleArenaWrap {
    top: 63%;
    left: 40%;
    width: 110px;
    height: 110px;
  }

  .foodcourtWrap {
    top: 62%;
    left: 50%;
    width: 100px;
    height: 120px;
  }

  .workshopWrap {
    top: 55%;
    left: 51%;
    width: 110px;
    height: 110px;
  }

  .marketWrap {
    top: 48%;
    left: 45%;
    width: 160px;
    height: 150px;
  }

  .castleWrap {
    top: 35%;
    left: 48%;
    width: 280px;
    height: 180px;
  }

  .navigateLink {
    height: 100%;
  }
}