@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.worldMapOverlay {
  background-color: #fff;
  z-index: 1000;
}

.worldMapContainer {
  background-image: url('/images/worldmap/worldmap-bg.webp');
  background-repeat: no-repeat;
  background-position: top center;
  width: calc(3840px*8/10);
  height: calc(2160px*8/10);
  min-width: 100vw;
  min-height: 100vh;
  background-size: 100% 100%;
}

@media (max-width: 1024px) {
  .worldMapContainer {
    width: calc(3840px*6/10);
    height: calc(2160px*6/10);
  }
}
